@charset "utf-8";
 
.menu {
	display: table-column;
	border-image:none;
	background:none;
}
.menu-konten {
	display:none;
	table-layout:inherit;
	border:hidden;
}
.hide tr{
	display:none;
	alignment-adjust:ideographic;
}
.table {
	display:!important;
}