@charset "utf-8";
#menu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	float: none;
	height: 40px;
	width: 100px;
	background-color: #03C;
	position: fixed;
	text-align: left;
	overflow: visible;
	display: inline-table;
	padding: 0px;
	left: 200px;
	top: 17px;
	right: auto;
	bottom: auto;
	clip: rect(auto,auto,auto,auto);
	clear: none;
}
